{
	"ways" : [
			{
				"way" : "udp",
				"used": true,
				"ipAddress": ["192.168.4.109:13358", "192.168.4.109:10007"],
				"miniBuf": 512,
				"initBuf": 2048,
				"maxBuf": 4096,
				"queueSize": 50000
			}
		]
}